@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

/* Basic Css For All Pages Starts here  */

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 27.7px;
}

.wraper {
  width: 1020px;
  margin: 0 auto;
}

/* Basic Css For All Pages Ends here  */

/* Nav bar section start */

.top-nav-bar {
  width: 100%;
  height: 180px;
  background-color: #eaeaea;
}

.nav-bar-wraper {
  height: 180px;
  display: flex;
  align-items: center;
}

.brand-logo {
  min-width: 170px;
  margin-right: auto;
}

.nav-bar-pages {
  margin-left: auto;
}

.nav-bar-pages ul {
  display: flex;
  align-items: center;
}

.nav-page {
  padding: 0 10px;
  margin-left: 20px;
}

.nav-page a {
  line-height: 27.2px;
  text-decoration: none;
  color: #2e333e;
}

.nav-page::after {
  content: "";
  display: block;
  position: relative;
  top: 8px;
  left: -8px;
  width: 0;
  height: 4px;
  border-radius: 10px;
  background-color: #0066f9;
  transition: 0.3s;
}

.active::after {
  width: 130%;
}

.nav-page:hover::after {
  width: 130%;
}

.btn:hover::after {
  width: 0;
}

.btn {
  margin-left: 30px;
}

.btn a {
  height: 27px;
  font-weight: 700;
  padding: 10px 20px;
  background-color: #0066f9;
  color: #fff;
}

/* Nav bar section End */

/* main section css Start here  */

main {
  padding: 50px 0px;
}

.main-heading {
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  color: #000000;
}

.main-p {
  margin-top: 35px;
  text-align: justify;
  font-weight: 400;
}

.main-hr {
  margin: 20px 0 0 0;
}

.home-l-post {
  margin-top: 25px;
}

.blog-cards {
  width: 100%;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.blog-cards a {
  color: #000000;
  text-decoration: none;
  width: 100%;
  overflow: hidden;
}

.blog-card {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #eaeaea;
}

.blog-img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.blog-img img {
  width: 100%;
  height: auto;
}

.card-tag-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-tag {
  padding: 10px;
  background-color: #7d4cdb;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-transform: uppercase;
  margin-top: -24px;
}

/* Blog Page 3 Image bg color  */

.bg-persian-green {
  background-color: #079992;
}

/* Blog Page 4 Image bg color  */

.bg-carrot-orange {
  background-color: #e58e26;
}

/* Blog Page 4 Image bg color  */
.bg-cloud-burst {
  background-color: #353b48;
}

.blog-cotant {
  padding: 20px 35px 40px 35px;
}

.small {
  font-size: 14px;
  font-weight: 500;
}

.small span {
  font-weight: bold;
}

.card-title {
  font-size: 24px;
  margin-top: 10px;
}

.card-text {
  margin-top: 25px;
}

.all-post {
  margin-top: 35px;
}

.all-post a {
  color: #000000;
  text-decoration: underline;
}

/* Extra Css For Blog Page start */

.blog-pages {
  display: flex;
  width: 100%;
  margin-top: 35px;
}

.blog-pages div {
  width: 50%;
}

.blog-pages p {
  display: block;
  width: fit-content;
  margin-left: auto;
}

.blog-pages span {
  display: block;
  width: fit-content;
  margin-right: auto;
}

.blog-pages a {
  color: #000000;
  text-decoration: none;
}

.blog-page-inside p:nth-of-type(1) {
  margin-top: 75px;
  text-align: start;
  font-weight: 400px;
}

.blog-page-inside img {
  width: 100%;
  margin-top: 15px;
}

.blog-page-inside h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 30px 0;
}

.blog-page-inside p {
  margin: 15px 0;
}

.blog-page-inside hr {
  margin-bottom: 30px;
}

.blog-page-inside a {
  text-decoration: none;
}

/* Extra Css For Blog Page end */

/* Extra Css For Contact Page Start */

.contact-us-form {
  margin-top: 50px;
}

.form-group {
  width: 100%;
  margin-top: 30px;
}

.form-group label {
  font-size: 18px;
}

.form-group input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #353b48;
  border-radius: 5px;
  outline: none;
}

.form-group textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #353b48;
  border-radius: 5px;
  outline: none;
  resize: none;
}

.form-group-btn input {
  margin-top: 25px;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  background-color: #0066f9;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Extra Css For Contact Page end */

/* Extra Css For Contact Page start */

.about-sec-h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 60px;
}

.about-sec a {
  text-decoration: none;
  color: #001ff9;
}

.about-sec p {
  margin: 25px 0;
}

.about-sec h3 {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
}

.about-sec-link {
  display: block;
  margin: 15px 0;
}

.about-sec-table {
  width: auto;
}

.about-sec-table th,
.about-sec-table td {
  border: 1px solid #2e333e;
  padding: 5px 15px;
  text-align: center;
}

.about-sec-table th {
  font-weight: 600;
}

.about-sec-table tr:nth-of-type(even) {
  background-color: #f8f8f8;
}

.about-sec-part {
  padding: 0 15px;
  color: #777777;
  border-left: 4px solid #777777;
  border-radius: 1px;
}

.about-hr-last {
  border: 2px solid #eaeaea;
}

.contact-sec-map-detail {
  font-size: 24px;
  margin-top: 50px;
  font-weight: 600px;
}

.contact-sec-map-detail a {
  text-decoration: none;
  color: #fff;
  background-color: #001ff9;
}

.map {
  width: 100%;
  height: 450px;
  margin-top: 50px;
}
/* Extra Css For Contact Page end */

/* main section css for Home Page End here  */

/* footer sec style start */

hr .footer {
  border-top: 1px solid #eaeaea;
  margin: 0;
}

footer {
  height: 180px;
  padding: 20px 0;
}

footer i {
  color: #0066f9;
  font-size: 40px;
  margin: 0 10px 10px 0;
}

.footer-social-link a {
  margin-right: 15px;
}

footer p {
  padding: 5px 0;
  color: #2e333e;
}

footer a {
  color: #2e333e;
}

/* footer sec style End */

/* responsive code  */

@media (max-width: 1170px) {
  body {
    font-size: 15px;
    line-height: 24px;
  }

  .main-heading {
    font-size: 35px;
  }
}

@media (max-width: 1040px) {
  .wraper {
    width: 100%;
    padding: 0 20px;
  }
  .main-wraper {
    margin: 30px 0;
  }
}

@media (max-width: 690px) {
  .brand-logo {
    margin: 0 auto;
  }
  .nav-bar-pages {
    display: none;
  }
  .blog-cards {
    grid-template-columns: 1fr;
  }
}
